<!DOCTYPE html>
<html>

    <head>
        <title>Anthony Wood Resume</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <meta name="author" content="Anthony Wood">
        <meta name="description" content="Resume">
        <link href='/static/styles.css' rel='stylesheet' type='text/css'>   
    </head>

<!-- MAIN CONTAINER -->
	<div id="main_container">
      <!-- HEADER -->
      <div id="header">
        <!-- LOGOTYPE/NAME -->
        <div class="header_logotype_container">
          <h1 class="logotype_name">Athony <span class="purple">Wood</span></h1>
          <h2 class="logotype_occupation">Computer Engineering Student</h2>
        </div>
        <!-- MAIN MENU -->
        <div class="header_menu_container">
          <!-- <ul class="download_print_buttons horizontal_list">
            <li><a href="#"><span class="icon entypo-download"></span>Download CV</a></li>
            <li><a href="#"><span class="icon entypo-print"></span>Print CV</a></li>
          </ul> -->
          <div class="clear"></div>
          <ul class="header_menu horizontal_list">
            <li><a class="no border purple" href="#">English</a></li>
            <li><a id="ru-link" href="/russian">Русский</a></li>
            <!-- <li><a href="#">Education</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Work Experience</a></li>
            <li><a href="#">Featured Projects</a></li>
            <li><a href="#">Awards</a></li> -->
          </ul>
        </div>
      </div>
      <!-- LEFT COL -->
      <div id="left_col">
        <div class="profile_frame">
          <div class="profile_picture"><img src="static/anthony_wood.jpg" alt="profile picture"></div>
        </div>
        <div class="hello_content">
          <h2>Hello!</h2>
          <p> I'm curious about almost everything, especially when it comes to technology and mathematics. 
            I've gained a strong foundation of principles through my time in school, and hope to learn even 
            more as I work to becoming the best computer engineer I can be.</p>
        </div>
        <div class="contact_details_content">
          <h2>Contact details</h2>
          <p class="purple">Phone:</p>
          <p>+1 (801) 682 - 8811</p>
          <p class="purple">Email:</p>
          <p>woodanthony15@gmail.com</p>
        </div>
        <a href="mailto:woodanthony15@gmail.com" class="send_message_button">
          <span class="cut1"></span>
          <span class="cut2"></span>
          <span class="content">Send me a message <span class="fontawesome-double-angle-right"></span></span>
        </a>
        <!-- <div class="get_social_content">
          <h2>Get social</h2>
          <ul class="social_icons horizontal_list">
            <li><a class="facebook" href="https://www.facebook.com/jlalovi"><span class="entypo-facebook-circled"></span><span class="invisible">Facebook</span></a></li>
            <li><a class="twitter" href="https://twitter.com/jlalovi"><span class="entypo-twitter-circled"></span><span class="invisible">Twitter</span></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/jlalovi/en"><span class="entypo-linkedin-circled"></span><span class="invisible">LinkedIn</span></a></li>
          </ul>
        </div> -->
      </div>
      <!-- PROFILE CONTENT -->
      <div id="content_container">				
        <div class="block">
          <h1>Profile</h1>
          <blockquote class="profile_quote">
            <p>"That which we persist in doing becomes easier to do, not that the nature of the thing has changed 
                but that our power to do has increased."</p>
            <p>Ralph Waldo Emerson.</p>
            <span class="entypo-quote"></span>
          </blockquote>
        </div>
        <div class="block">
          <h2>About me</h2>
          <p>Even though my life hasn't always gone to plan, its always helped me grow. I've learned how to remain flexible with uncertainty,
            how to commuicate professionally and effectively with people I've never met before, and how to keep going when things are rough.
            I've maintained a busy lifestyle, and if I'm not in school, I'm self-learning. I always feel like there's something to practice,
            to get explore, or to develop in myself.
          </p>				
        </div>
        <div class="horizontal_line">
          <div class="line_left"></div>
          <div class="left_circle"></div>
          <div class="central_circle"></div>
          <div class="right_circle"></div>
          <div class="line_right"></div>
        </div>
        <div class="block">
          <h2>Philosophy</h2>
          <p>I believe in accountability and work ethic. Our reputation is our word.</p>
          <div class="philosophy_content">
            <p>I believe in the importance of taking responsibility for our failures, but also our successes. We cannot allow others to take
                fall for us, but nor should that take credit for what we've done. I also believe that there is great value in working hard. It
                isn't a virtue to become apathetic or lazy. Rather, we should pride ourselves in our willingness to strive for success.
            </p>
            <ul>
              <li>Accountable</li>
              <li>Hard Working</li>
              <li>Respectful</li>
              <li>Open-minded</li>
              <li>Precise</li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="horizontal_line">
          <div class="line_left"></div>
          <div class="left_circle"></div>
          <div class="central_circle"></div>
          <div class="right_circle"></div>
          <div class="line_right"></div>
        </div>
        <div class="last block">
          <h2>Interests & Hobbies</h2>
          <p>I'm passionate about technology, but also the outdoors and what the world has to offer</p>
          <ul>
            <li>Climbing - (Bouldering and Top rope)</li>
            <li>Riding ATV's and dirt bikes</li>
            <li>Swing Dancing</li>
            <li>Pushing my limits</li>
            <li>Digital Design (FPGA and Arduino)</li>
            <li>Learning new skills</li>
            <li>Jumping out of planes and helicopters</li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <!-- FOOTER -->
      <div id="footer">
        <p class="footer_name"> Template credit to Javier Latorre - CODEPEN: @jlalovi</p>
      </div>
	</div>

</html>