<!DOCTYPE html> 
<html> 
   <head>
            
        <title>Энтони Вуд Резюме</title><meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <meta name="author" content="Anthony Wood">
        <meta name="description" content="Resume">
        <link href="/static/styles.css" rel="stylesheet" type="text/css">   

    <body><div id="main_container">
        <!-- HEADER -->
        <div id="header">
        <!-- LOGOTYPE/NAME -->
        <div class="header_logotype_container">
            <h1 class="logotype_name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Энтони </font></font><span class="purple"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вуд</font></font></span></h1>
            <h2 class="logotype_occupation"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Студент компьютерного факультета</font></font></h2>
        </div>
        <!-- MAIN MENU -->
        <div class="header_menu_container">
            <!-- <ul class="download_print_buttons horizontal_list">
            <li><a href="#"><span class="icon entypo-download"></span>Download CV</a></li>
            <li><a href="#"><span class="icon entypo-print"></span>Print CV</a></li>
            </ul> -->
            <div class="clear"></div>
            <ul class="header_menu horizontal_list">
            <li><a id="en-link" href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">English</font></font></a></li>
            <li><a class="no border purple" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Русский</font></font></a></li>
            <!-- <li><a href="#">Education</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Work Experience</a></li>
            <li><a href="#">Featured Projects</a></li>
            <li><a href="#">Awards</a></li> -->
            </ul>
        </div>
        </div>
        <!-- LEFT COL -->
        <div id="left_col">
        <div class="profile_frame">
            <div class="profile_picture"><img src="static/anthony_wood.jpg" alt="profile picture"></div>
        </div>
        <div class="hello_content">
            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Привет!</font></font></h2>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Мне интересно практически все, особенно когда дело касается технологий и математики. </font><font style="vertical-align: inherit;">За время учебы в школе я приобрел прочную основу принципов и надеюсь узнать еще больше, работая над тем, чтобы стать лучшим компьютерным инженером, каким только могу быть.</font></font></p>
        </div>
        <div class="contact_details_content">
            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Контактная информация</font></font></h2>
            <p class="purple"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Телефон:</font></font></p>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">+1 (801) 682 - 8811</font></font></p>
            <p class="purple"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Электронная почта:</font></font></p>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">woodanthony15@gmail.com</font></font></p>
        </div>
        <a href="mailto:woodanthony15@gmail.com" class="send_message_button">
            <span class="cut1"></span>
            <span class="cut2"></span>
            <span class="content"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 15px;">Отправить мне сообщение </font></font><span class="fontawesome-double-angle-right"></span></span>
        </a>
        <!-- <div class="get_social_content">
            <h2>Get social</h2>
            <ul class="social_icons horizontal_list">
            <li><a class="facebook" href="https://www.facebook.com/jlalovi"><span class="entypo-facebook-circled"></span><span class="invisible">Facebook</span></a></li>
            <li><a class="twitter" href="https://twitter.com/jlalovi"><span class="entypo-twitter-circled"></span><span class="invisible">Twitter</span></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/jlalovi/en"><span class="entypo-linkedin-circled"></span><span class="invisible">LinkedIn</span></a></li>
            </ul>
        </div> -->
        </div>
        <!-- PROFILE CONTENT -->
        <div id="content_container">				
        <div class="block">
            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Профиль</font></font></h1>
            <blockquote class="profile_quote">
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">«То, что мы упорно делаем, становится легче делать, но не потому, что изменилась природа этого дела, а потому, что наша способность делать увеличилась».</font></font></p>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ральф Уолдо Эмерсон.</font></font></p>
            <span class="entypo-quote"></span>
            </blockquote>
        </div>
        <div class="block">
            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Обо мне</font></font></h2>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Хотя моя жизнь не всегда шла по плану, это всегда помогало мне расти. </font><font style="vertical-align: inherit;">Я научился сохранять гибкость в условиях неопределенности, как профессионально и эффективно общаться с людьми, с которыми никогда раньше не встречался, и как продолжать идти вперед, когда дела идут плохо. </font><font style="vertical-align: inherit;">Я веду активный образ жизни, и если я не учусь в школе, то занимаюсь самообучением. </font><font style="vertical-align: inherit;">Я всегда чувствую, что есть что практиковать, исследовать или развивать в себе.
            </font></font></p>				
        </div>
        <div class="horizontal_line">
            <div class="line_left"></div>
            <div class="left_circle"></div>
            <div class="central_circle"></div>
            <div class="right_circle"></div>
            <div class="line_right"></div>
        </div>
        <div class="block">
            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Философия</font></font></h2>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Я верю в ответственность и трудовую этику. </font><font style="vertical-align: inherit;">Наша репутация – это наше слово.</font></font></p>
            <div class="philosophy_content">
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Я верю в важность брать на себя ответственность не только за наши неудачи, но и за наши успехи. </font><font style="vertical-align: inherit;">Мы не можем позволить другим пасть за нас, но и это не должно ставить в заслугу то, что мы сделали. </font><font style="vertical-align: inherit;">Я также считаю, что усердный труд имеет огромную ценность. </font><font style="vertical-align: inherit;">Стать апатичным или ленивым – это не добродетель. </font><font style="vertical-align: inherit;">Скорее, мы должны гордиться своей готовностью стремиться к успеху.
            </font></font></p>
            <ul>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Подотчетный</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Трудолюбивый</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">уважительный</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Открытый</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Точный</font></font></li>
            </ul>
            <div class="clear"></div>
            </div>
        </div>
        <div class="horizontal_line">
            <div class="line_left"></div>
            <div class="left_circle"></div>
            <div class="central_circle"></div>
            <div class="right_circle"></div>
            <div class="line_right"></div>
        </div>
        <div class="last block">
            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Интересы и хобби</font></font></h2>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Я увлечен технологиями, а также природой и тем, что мир может предложить.</font></font></p>
            <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Скалолазание - (Боулдеринг и верхняя веревка)</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Катание на квадроциклах и мотоциклах для бездорожья</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Свинг-танцы</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Расширяя свои пределы</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Цифровой дизайн (FPGA и Arduino)</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Обучение новым навыкам</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Выпрыгивание из самолетов и вертолетов</font></font></li>
            </ul>
        </div>
        </div>
        <div class="clear"></div>
        <!-- FOOTER -->
        <div id="footer">
        <p class="footer_name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Благодарность за шаблон Хавьеру Латорре - CODEPEN: @jlalovi</font></font></p>
        </div>

    </body>
</html>